body {
    margin: 0;
    padding: o;
}
.header {
    background-color: yellowgreen;
}

.container {
    background-color: tomato;
    width: 980px;
    margin: auto;
}

.logo {
    
}

.memu {
    
}

.menu-item {
    float: left;
    margin-right: 10px;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}